import /system/etc/init/init.safailnet.rc

on init
    setprop sys.usb.ffs.aio_compat 1

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6762 /vendor/etc/fstab.mt6762 bind
    mount none /system/etc/fstab.mt6765 /vendor/etc/fstab.mt6765 bind
    mount none /vendor/lost+found /vendor/overlay bind
    chown system system /dev/input/event3

on property:persist.sys.dandelion.dt2w=0
    exec /system/bin/sendevent /dev/input/event3 0 1 4

on property:persist.sys.dandelion.dt2w=1
    exec /system/bin/sendevent /dev/input/event3 0 1 5

on fs
    mount_all /vendor/etc/fstab.mt6765 --early
    mount_all /vendor/etc/fstab.mt6765 --late

on post-fs
    # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6762
    umount /vendor/etc/fstab.mt6765

    # Disable OEM Lights
    mount none /dev/null vendor/lib/hw/lights.mt6765.so bind
    mount none /dev/null vendor/lib/hw/android.hardware.light@2.0-impl-mediatek.so bind
    mount none /dev/null vendor/bin/hw/android.hardware.light@2.0-service-mediatek bind
    mount none /dev/null vendor/etc/init/android.hardware.light@2.0-service-mediatek.rc bind

    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind

on boot

# Disable AOSP RIL if MTK RIL is up
on property:vendor.ril.mtk=1
    stop vendor.ril-daemon

on property:sys.boot_completed=1
    # Toggle airplane mode on and off on boot to enable volte.
    # This hack needs ImsInit commit to request ims on boot to work properly

    exec - root -- /system/bin/sh -c "sleep 3"
    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 1"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state true"

    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 0"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state false"
