import /system/etc/init/init.safailnet.rc
import /system/etc/init/init.ago.rc

on init
    setprop sys.usb.ffs.aio_compat 1

    # boot time fs tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048
    write /sys/block/dm-2/queue/read_ahead_kb 2048

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6762 /vendor/etc/fstab.mt6762 bind
    mount none /system/etc/fstab.mt6765 /vendor/etc/fstab.mt6765 bind
    mount none /system/etc/fstab.enableswap /vendor/etc/fstab.enableswap bind

    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind

    # HACK: Disable Keymaster beanpod
    mount none /system/etc/init/android.hardware.keymaster@4.0-service.beanpod.rc /vendor/etc/init/android.hardware.keymaster@4.0-service.beanpod.rc

    # DT2W
    chown system system /dev/input/event3

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

on charger
    # Turn backlight on and switch to backlight trigger
    write /sys/class/leds/lcd-backlight/brightness "1000"
    write /sys/class/leds/lcd-backlight/trigger "backlight"

    write /proc/hps/enabled 0
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu7/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu4/online 0

    write /sys/power/pm_async 0

on property:persist.sys.dandelion.dt2w=0
    exec /system/bin/sendevent /dev/input/event3 0 1 4

on property:persist.sys.dandelion.dt2w=1
    exec /system/bin/sendevent /dev/input/event3 0 1 5

on fs
    mount_all /vendor/etc/fstab.mt6765 --early
    mount_all /vendor/etc/fstab.mt6765 --late

on post-fs
    # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6762
    umount /vendor/etc/fstab.mt6765

    # Disable OEM Lights
    mount none /dev/null vendor/lib/hw/lights.mt6765.so bind
    mount none /dev/null vendor/lib/hw/android.hardware.light@2.0-impl-mediatek.so bind
    mount none /dev/null vendor/bin/hw/android.hardware.light@2.0-service-mediatek bind
    mount none /dev/null vendor/etc/init/android.hardware.light@2.0-service-mediatek.rc bind

    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/odm/etc/audio_policy_configuration.xml bind

on boot

on property:init.svc.console=running
    setprop init.svc.console stopped

# Disable AOSP RIL if MTK RIL is up
on property:vendor.ril.mtk=1
    stop vendor.ril-daemon

on property:sys.boot_completed=1
    # Toggle airplane mode on and off on boot to enable volte.
    # This hack needs ImsInit commit to request ims on boot to work properly

    exec - root -- /system/bin/sh -c "sleep 3"
    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 1"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state true"

    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 0"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state false"

    # ZRAM
    swapon_all /system/etc/fstab.enableswap
    umount /vendor/etc/fstab.enableswap

    # Runtime fs tuning for runtime performance
    write /sys/block/mmcblk0/queue/iostats 1
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128

    # Perf
    write /sys/devices/system/cpu/cpufreq/performance/boost 1
    write /dev/cpuset/foreground/boost/cpus 4-7
    write /sys/devices/system/cpu/cpufreq/performance/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpufreq/performance/align_windows 1
    write /dev/cpuset/foreground/cpus 0-3,4-7
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/block/zram0/max_comp_streams 8
    write /sys/devices/system/cpu/cpufreq/performance/go_hispeed_load 75
    write /sys/devices/system/cpu/cpufreq/performance/max_freq_hysteresis 1
    write /dev/cpuset/top-app/cpus 0-7
    write /sys/module/lazyplug/parameters/nr_possible_cores 8
