<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.my.wulan17.scrd"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:isStatic="true" android:targetPackage="com.android.systemui" android:priority="1" />

    <application android:label="@string/overlay_name" android:hasCode="false" />

</manifest>
